<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>利用規約</title>
</head>

<body>
    <article id="fe53a4eb-f923-4bd9-bb1f-6501aeb06270" class="page sans">
        <header>
            <h1 class="page-title">利用規約</h1>
            <p class="page-description"></p>
        </header>
        <div class="page-body">
            <h1 id="a6433d71-c909-4117-9149-373e057333fe" class="">利用規約</h1>
            <p id="f96d0433-0fee-447d-b16a-097601ced64a" class="">
                この利用規約（以下，「本規約」といいます。）は，ユニボー（以下，「</mark>当団体」といいます。）が提供するサービス「UNIBOO」（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
            </p>
            <h1 id="8780e235-0314-4db9-a450-2cc483fd2453" class="">第1条（適用）</h1>
            <ol type="1" id="3d18f1d7-1b94-4df2-9ccf-d9047cadc184" class="numbered-list" start="1">
                <li>本規約は，ユーザーと当団体との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
            </ol>
            <ol type="1" id="0f7e8e80-cdac-48fb-a974-d56b85a2ff8f" class="numbered-list" start="2">
                <li>当団体は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
                </li>
            </ol>
            <ol type="1" id="07bdce07-4499-4ccc-aad5-cdad6df091f1" class="numbered-list" start="3">
                <li>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</li>
            </ol>
            <h1 id="c8622b83-db24-4c81-a342-c8263e5fac70" class="">第2条（利用登録）</h1>
            <ol type="1" id="4b1cd81d-71cc-4a30-8959-d8d491da5364" class="numbered-list" start="1">
                <li>本サービスにおいては，登録希望者が本規約に同意の上，当団体の定める方法によって利用登録を申請し，当団体がこれを承認することによって，利用登録が完了するものとします。</li>
            </ol>
            <ol type="1" id="0a5bbd76-ad03-4d71-90a8-450c0053ddb8" class="numbered-list" start="2">
                <li>当団体は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。
                    1. 利用登録の申請に際して虚偽の事項を届け出た場合
                    2. 本規約に違反したことがある者からの申請である場合
                    3. その他，当団体が利用登録を相当でないと判断した場合</li>
            </ol>
            <h1 id="6a09c327-b7f2-4ab5-ad59-2e10a6744b4f" class="">第3条（ユーザーIDおよびパスワードの管理）</h1>
            <ol type="1" id="67f6095f-fe9d-4109-9e0a-7a9faaba2b52" class="numbered-list" start="1">
                <li>ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。</li>
            </ol>
            <ol type="1" id="d946ce8a-9d2e-4dd5-98b7-53d7a23a159c" class="numbered-list" start="2">
                <li>ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当団体は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。
                </li>
            </ol>
            <ol type="1" id="e7d11b47-b028-4603-9c0f-aecaa59356f8" class="numbered-list" start="3">
                <li>ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，当団体に故意又は重大な過失がある場合を除き，当団体は一切の責任を負わないものとします。</li>
            </ol>
            <h1 id="a6e7588e-473b-48c3-b375-f380a0bfa347" class="">第4条（利用料金および支払方法）</h1>
            <ol type="1" id="2a9def08-fdd4-4ba8-ab0e-c1b82f9559d3" class="numbered-list" start="1">
                <li>ユーザーは，本サービスの有料部分の対価として，当団体が別途定め，本サービス上に表示されている利用料金を，当団体が指定する方法により支払うものとします。</li>
            </ol>
            <ol type="1" id="17c7e80c-2ddf-4cbd-ad59-a53aad7aeb59" class="numbered-list" start="2">
                <li>ユーザーが利用料金の支払を遅滞した場合には，ユーザーは年14．6％の割合による遅延損害金を支払うものとします。</li>
            </ol>
            <h1 id="7ee9fa29-9704-4218-8dfb-023278fc4dd9" class="">第5条（禁止事項）</h1>
            <p id="9004a4d4-7617-4134-b932-f317673591ef" class="">ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
            <ol type="1" id="31aa9581-44ea-4ea7-a539-b05bf5664909" class="numbered-list" start="1">
                <li>法令または公序良俗に違反する行為</li>
            </ol>
            <ol type="1" id="3395ee69-853f-423d-8f7b-1f140b5ec16d" class="numbered-list" start="2">
                <li>犯罪行為に関連する行為</li>
            </ol>
            <ol type="1" id="eefe5cba-f225-4b2f-a6f6-11febe13f2a0" class="numbered-list" start="3">
                <li>本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為</li>
            </ol>
            <ol type="1" id="c030ea5e-1fde-493d-afaa-f736ecb2ff3b" class="numbered-list" start="4">
                <li>当団体，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
            </ol>
            <ol type="1" id="e417b61b-f793-496c-815a-66c3062c3c4f" class="numbered-list" start="5">
                <li>本サービスによって得られた情報を商業的に利用する行為</li>
            </ol>
            <ol type="1" id="5928ef4f-a73c-43d6-8434-d271105e1ed7" class="numbered-list" start="6">
                <li>当団体のサービスの運営を妨害するおそれのある行為</li>
            </ol>
            <ol type="1" id="403f8a3e-24a1-4b9d-9680-229de4888b3d" class="numbered-list" start="7">
                <li>不正アクセスをし，またはこれを試みる行為</li>
            </ol>
            <ol type="1" id="8fdfeae8-a300-4d70-9ac2-2bf8d68fcdb8" class="numbered-list" start="8">
                <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
            </ol>
            <ol type="1" id="ddd1a680-9db2-474a-9ca2-0ec4656583c0" class="numbered-list" start="9">
                <li>不正な目的を持って本サービスを利用する行為</li>
            </ol>
            <ol type="1" id="55d60503-6afa-472b-abc7-79a2fabf08fe" class="numbered-list" start="10">
                <li>本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為</li>
            </ol>
            <ol type="1" id="6e301abe-88ba-4391-8c46-5602594ee79f" class="numbered-list" start="11">
                <li>他のユーザーに成りすます行為</li>
            </ol>
            <ol type="1" id="372f69ff-8aa0-4bdd-b4c9-fc99723ec3ca" class="numbered-list" start="12">
                <li>当団体が許諾しない本サービス上での宣伝，広告，勧誘，または営業行為</li>
            </ol>
            <ol type="1" id="2fdef012-b561-4991-b7d6-64f312c05885" class="numbered-list" start="13">
                <li>面識のない異性との出会いを目的とした行為</li>
            </ol>
            <ol type="1" id="fcd86f0f-a5a5-4e5e-98ba-63f6884e7f51" class="numbered-list" start="14">
                <li>当団体のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
            </ol>
            <ol type="1" id="a6b73ef7-b24f-4e13-b444-a45ac3e31578" class="numbered-list" start="15">
                <li>その他，当団体が不適切と判断する行為</li>
            </ol>
            <h1 id="13fa2203-7d72-4813-adaf-93edb885875d" class="">第6条（本サービスの提供の停止等）</h1>
            <ol type="1" id="0171d8f1-c74b-4eab-b7d3-cd229cb7ce04" class="numbered-list" start="1">
                <li>当団体は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
                    1. 本サービスにかかるコンピュータシステムの保守点検または更新を行う場合
                    2. 地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合
                    3. コンピュータまたは通信回線等が事故により停止した場合
                    4. その他，当団体が本サービスの提供が困難と判断した場合</li>
            </ol>
            <ol type="1" id="50d5142c-f616-4a70-96ec-ced3c6cd5b60" class="numbered-list" start="2">
                <li>当団体は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</li>
            </ol>
            <h1 id="e0df097d-6b70-4869-bb62-11b7c70f8490" class="">第7条（利用制限および登録抹消）</h1>
            <p id="4e193f38-6e8d-4d6e-aafe-a0e3dbbdc039" class="">
                当団体は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。
                1. 本規約のいずれかの条項に違反した場合
                2. 登録事項に虚偽の事実があることが判明した場合
                3. 料金等の支払債務の不履行があった場合
                4. 当団体からの連絡に対し，一定期間返答がない場合
                5. 本サービスについて，最終の利用から一定期間利用がない場合
                6. その他，当団体が本サービスの利用を適当でないと判断した場合当団体は，本条に基づき当団体が行った行為によりユーザーに生じた損害について，一切の責任を負いません。</p>
            <h1 id="7fc699c6-99b5-4d05-a2f6-a48abe09b070" class="">第8条（退会）</h1>
            <p id="3cd12547-dead-4a10-ace4-c8a5bacaa062" class="">ユーザーは，当団体の定める退会手続により，本サービスから退会できるものとします。</p>
            <p id="cabdf249-8902-4cd4-b523-247abcba6757" class="">
            </p>
            <h1 id="a33596b5-c076-4539-866c-42e74cc608e2" class="">第9条（商品の出品）</h1>
            <ol type="1" id="6d09eccd-d1be-4df5-842d-4e29c09a82b1" class="numbered-list" start="1">
                <li>ユーザーは出品にあたり、法令（古物営業法等）を遵守しなければなりません。</li>
            </ol>
            <ol type="1" id="899a22c4-f979-4b95-a771-752c0de1b968" class="numbered-list" start="2">
                <li>ユーザーは、売却する意思のない出品を行なってはいけません。</li>
            </ol>
            <ol type="1" id="b518be34-d18c-48c2-8f4d-da167e981cc4" class="numbered-list" start="3">
                <li>ユーザーは、他ユーザーに誤解を与える情報、出品する商品に関係ない情報を記載してはいけません。</li>
            </ol>
            <ol type="1" id="1f576340-d436-4e5a-86a2-1e14aead6db9" class="numbered-list" start="4">
                <li>出品した商品の情報と、実際の商品の状態が明らかに異なる場合は、出品者が出品の情報に合う商品を用意する責任を負うものとします。</li>
            </ol>
            <ol type="1" id="c4c2ed1d-64c7-4628-a60b-dc372a0c60e6" class="numbered-list" start="5">
                <li>購入希望ユーザーが特定の商品の購入完了手続をした時をもって、その商品の売買契約が成立するものとします。</li>
            </ol>
            <p id="b6699dd3-4c3e-46a4-88fc-75dce070b3f5" class="">
            </p>
            <h1 id="a95216af-5253-4f36-88ea-e512f598416a" class="">第10条（商品の購入）</h1>
            <p id="69e8eb93-3f8d-461c-8baf-4f84342b1325" class="">ユーザーが、出品された特定の商品の購入完了手続をした時をもって、その商品の売買契約が成立するものとします。
            </p>
            <h1 id="f9baa16c-3bb1-4721-a4f5-662b8be61f8d" class="">第11条（商品の取引）</h1>
            <p id="980a57aa-a179-42b5-ae84-dab6c462b7cf" class="">
                商品を出品したユーザー及び商品を購入したユーザーの間で商品等に関するトラブルが発生した場合は当該ユーザー間で解決するものとします。</p>
            <h1 id="eb8c1ce0-c686-4c1a-a61e-e81956db2585" class="">第12条（保証の否認および免責事項）</h1>
            <ol type="1" id="3a6e8ae5-2d05-44a2-8150-35dcd47df2f1" class="numbered-list" start="1">
                <li>当団体は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
                </li>
            </ol>
            <ol type="1" id="f1ebb34f-d739-40e0-ad5e-5cfd8817f914" class="numbered-list" start="2">
                <li>当団体は，本サービスに起因してユーザーに生じたあらゆる損害について、当団体の故意又は重過失による場合を除き、一切の責任を負いません。ただし，本サービスに関する当団体とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。
                </li>
            </ol>
            <ol type="1" id="fee6afeb-d950-4c11-bd32-4f287c6e0fa8" class="numbered-list" start="3">
                <li>前項ただし書に定める場合であっても，当団体は，当団体の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当団体またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。また，当団体の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。
                </li>
            </ol>
            <ol type="1" id="08050760-6b98-40b2-8ffc-661cd55f9e99" class="numbered-list" start="4">
                <li>当団体は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</li>
            </ol>
            <h1 id="f3dabf02-eed4-4d4d-b710-18781124a8d3" class="">第13条（サービス内容の変更等）</h1>
            <p id="56966ad9-38ae-4a86-bba5-3f9770109cc2" class="">
                当団体は，ユーザーへの事前の告知をもって、本サービスの内容を変更、追加または廃止することがあり、ユーザーはこれを承諾するものとします。</p>
            <h1 id="ff602e6b-70a3-4f9e-849a-a074408eeebd" class="">第14条（利用規約の変更）</h1>
            <p id="f0a63311-f2a3-4feb-83d2-b102bff805d3" class="">当団体は以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。
                1. 本規約の変更がユーザーの一般の利益に適合するとき。
                2.
                本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものであるとき。当団体はユーザーに対し、前項による本規約の変更にあたり、事前に、本規約を変更する旨及び変更後の本規約の内容並びにその効力発生時期を通知します。
            </p>
            <h1 id="0d1e9b1d-6fe6-465b-930b-75645408cc07" class="">第15条（個人情報の取扱い）</h1>
            <ol type="1" id="ef085a7e-5beb-4cbf-aa4d-558ad9a93c73" class="numbered-list" start="1">
                <li>当団体は，本サービスの利用によって取得する個人情報については，当団体「プライバシーポリシー」に従い適切に取り扱うものとします。</li>
            </ol>
            <ol type="1" id="1c602784-e83c-4cae-86dc-8c0f7b3209e0" class="numbered-list" start="2">
                <li>ユーザーは、本サービスの利用前に、本サービス上で、プライバシーポリシーを確認し、その内容に同意した上で、本サービスを利用するものとします。</li>
            </ol>
            <h1 id="f2e6e692-2f3c-40a8-9d22-4478b22600e7" class="">第16条（通知または連絡）</h1>
            <p id="6a256be8-3afd-4fc0-89dc-5753fcc9e731" class="">
                ユーザーと当団体との間の通知または連絡は，当団体の定める方法によって行うものとします。当団体は,ユーザーから,当団体が別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。
            </p>
            <h1 id="d68217e3-d905-4eb4-a16f-74dd253cd68a" class="">第17条（権利義務の譲渡の禁止）</h1>
            <p id="adac9ca2-b3c9-4192-b5f7-3f6c0d6e3551" class="">
                ユーザーは，当団体の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>
            <h1 id="266c3b33-318a-4674-8be9-bd0ecf51e92b" class="">第18条（準拠法・裁判管轄）</h1>
            <p id="3782d3c3-52e1-41f2-baa2-1d3d6b9452f4" class="">
                本規約の解釈にあたっては，日本法を準拠法とします。本サービスに関して紛争が生じた場合には，東京簡易裁判所又は東京地方裁判所を専属的合意管轄とします。</p>
            <p id="72377a6a-eae9-44b7-9ec4-531262cc4b53" class="">以上</p>
        </div>
    </article>
</body>

</html>
